.cartItems {
	.cartItems__header {
		padding-bottom: 9px;
	}

	.subtotal {
		background-color: #f9f9f9;
		padding: 18px 0;
	}

	.subtotalMobile {
		background-color: #f9f9f9;
		font-size: 18px;
		padding: 22.5px 0;
	}
}
