@import "../../assets//styles/responsive.scss";

.quotesArea {
	.quotesArea__desktop {
		.quote {
			float: left;
			position: relative;
			width: 25%;
			padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
			margin: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
			box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
			cursor: pointer;
			transition: all 2s;
			overflow: hidden;

			&:hover {
				box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
				.content {
					-webkit-transform: translate(-50%, -50%) scale(1.1);
					transform: translate(-50%, -50%) scale(1.1);
				}
			}

			.content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				text-transform: uppercase;
				max-width: 100%;
				transition: all 2s;

				@include Responsive(MD) {
					width: 80%;
				}

				h1 {
					font-size: 18px;
				}

				p {
					font-size: 6px;
					font-style: italic;
					margin: 0;

					@include Responsive(MD) {
						font-size: 8px;
					}

					@include Responsive(LG) {
						font-size: 13px;
					}
				}
			}
		}

		.quote:nth-child(1),
		.quote:nth-child(7) {
			padding-bottom: 50%;
			.description,
			.price {
				display: none;
			}
		}

		.quote:nth-child(8) {
			margin-top: -25%;
		}

		.quote:nth-child(9) {
			margin-top: -25%;
			margin-left: 25%;
		}

		.quote:nth-child(10) {
			margin-top: -25%;
			margin-left: 50%;
		}

		// Content display
		.quote:nth-child(3),
		.quote:nth-child(8) {
			.content {
				display: none;
			}
		}

		.quote:nth-child(2),
		.quote:nth-child(6) {
			.description {
				text-transform: capitalize;
			}
			.name,
			.newArrival,
			.price {
				display: none;
			}
		}

		.quote:nth-child(4),
		.quote:nth-child(5),
		.quote:nth-child(9),
		.quote:nth-child(10) {
			.description,
			.newArrival {
				display: none;
			}
		}
	}

	.quotesArea__mobile {
		.quote {
			height: 29vh;
			background-color: orange;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);

			.content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				text-transform: uppercase;

				h1 {
					font-size: 25px;
				}

				p {
					font-size: 16px;
					font-family: Times, "Times New Roman";
					font-style: italic;
					margin: 0;
				}
			}
		}
		.quote:nth-child(3n-1) {
			height: 20vh;
			background-color: purple;
		}
	}
}
