.footerComponent {
	.col {
		margin: 45px 0;
	}

	.title {
		margin-bottom: 3px;
	}

	.option {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.icon {
		display: flex;
		align-items: center;
		width: 32px;
		height: 32px;
		cursor: pointer;
		margin-right: 14px;

		.icon__svg {
			margin: auto;
		}
	}

	.creditTag {
		line-height: 21.5px;
		margin-bottom: 12px;
	}
}
