@import "./responsive.scss";
@import "./variables";

// Font styling
.second_font {
	font-family: "Sansita Swashed", cursive;
	font-weight: 100;
}

.fs_12 {
	font-size: 12px !important;
}

.fs_xs_20 {
	@include Responsive(XS) {
		font-size: 20px !important;
	}
}

.fs_10 {
	font-size: 10px !important;
}

.fs_9 {
	font-size: 9px !important;
}

// Content styling
.fix_content {
	position: fixed;
	top: 0;
	right: 60px;
	left: 60px;

	@include Responsive(XS) {
		right: 20px;
		left: 20px;
	}
}

.mt_nav {
	margin-top: $nav-height;

	@include Responsive(XS) {
		margin-top: $nav-height-mobile;
	}

	@include Responsive(SM) {
		margin-top: 120px;
	}
}

// bg-color
.bg_grey {
	background-color: #e5e5e5 !important;
}

// reset CSS
ul {
	padding: 0;
}

a,
a:hover {
	color: #000;
}

// Custom Button component
.btn {
	border-radius: 0;
	padding: 16px 24px;
	text-transform: uppercase;
	transition: all 1s ease-out;

	&.btn-primary {
		background-color: #f58135;
		color: #fff;
		border-color: #f58135;
	}
	&.btn-secondary {
		background-color: transparent;
		color: #000;
		border-color: #000;
	}
}
