.orderHistoryPage {
	padding-top: 90px;

	.orderHistoryPage__header {
		margin-bottom: 93px;
	}

	.showMoreBtn {
		background-color: #f1f1f1;
		line-height: 45px;
		margin-top: 35px;
		margin-bottom: 65px;
	}
}
